<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
				<link rel="stylesheet" type="text/css" href="/static/css/style.css">
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<title>
			Edinet - {% block title %}Bienvenue{% endblock %}
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	</head>
	<body id ="{% block bodyId %} genericPage {% endblock %}">
		<header>
			{% block headerContent %}{% endblock %}
		</header>
		<section id = "content">
			{% block content %}{% endblock %}
		</section>
	</body>
</html>